@charset "utf-8";
:root {
  --ratio-din: 1.414;
  --ratio-ermak: 1.581;
  --ratio-fibonacci: 1.618;
  --ratio-third: calc (5/3);
  --adaptive-ratio-difference: 2.62;
  --adaptive-ratio-proportion: 60;

  /* Configure here */
  --base-size: 20px;
  --base-line-height: 120%;
  --ratio: var(--ratio-fibonacci);
  --adaptive-ratio: 1.11;
  /* == Configure here == */

  --size-subtext: calc(var(--size-text) / var(--ratio) * var(--adaptive-ratio));
  --size-text: calc(var(--base-size) * var(--ratio) * var(--adaptive-ratio));
  --size-subcaption: calc(
    var(--size-text) * var(--ratio) * var(--adaptive-ratio)
  );
  --size-caption: calc(
    var(--size-subcaption) * var(--ratio) * var(--adaptive-ratio)
  );
  --size-title: calc(
    var(--size-caption) * var(--ratio) * var(--adaptive-ratio)
  );

  --size-small-text: calc((var(--size-subtext) + var(--size-subcaption)) / 2);

  --line-height-subtext: calc(
    var(--base-line-height) * 1.25 * var(--adaptive-ratio)
  );
  --line-height-text: calc(
    var(--base-line-height) * 1.125 * var(--adaptive-ratio)
  );
  --line-height-subcaption: calc(
    var(--base-line-height) * 1.05 * var(--adaptive-ratio)
  );
  --line-height-caption: calc(
    var(--base-line-height) * 1 * var(--adaptive-ratio)
  );
  --line-height-title: calc(
    var(--base-line-height) * 0.8 * var(--adaptive-ratio)
  );

  --line-height-small-text: calc(
    (var(--line-height-subtext) + var(--line-height-subcaption)) / 2
  );
}

@media only screen and (max-width: 1325px) {
  :root {
    --adaptive-ratio: calc(
      1325px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            2
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 1210px) {
  :root {
    --adaptive-ratio: calc(
      1210px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            1
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 1110px) {
  :root {
    --adaptive-ratio: calc(
      1110px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            0
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 995px) {
  :root {
    --adaptive-ratio: calc(
      995px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -1
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 896px) {
  :root {
    --adaptive-ratio: calc(
      896px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -2
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 801px) {
  :root {
    --adaptive-ratio: calc(
      801px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -3
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 712px) {
  :root {
    --adaptive-ratio: calc(
      712px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -4
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 628px) {
  :root {
    --adaptive-ratio: calc(
      628px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -5
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 550px) {
  :root {
    --adaptive-ratio: calc(
      550px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -6
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 477px) {
  :root {
    --adaptive-ratio: calc(
      477px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -7
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 409px) {
  :root {
    --adaptive-ratio: calc(
      409px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -8
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 346px) {
  :root {
    --adaptive-ratio: calc(
      346px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -9
        ) / var(--base-size)
    );
  }
}

@media only screen and (max-width: 288px) {
  :root {
    --adaptive-ratio: calc(
      288px /
        (
          var(--adaptive-ratio-proportion) + var(--adaptive-ratio-difference) *
            -10
        ) / var(--base-size)
    );
  }
}
